body {
  margin: 0;
}

img {
  width: 240%;
}


a {
  text-decoration: none;
}

.result h1 {
  font-size: 1.8em;
}

.result {
  margin: 20px 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #797575 solid;
  border-radius:10px ;
  box-shadow: 2px 2px 3px #797575;
}



.flex__container_background {
  width: 100%;
  height: 400px;
  background-color:antiquewhite;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.flex__box{
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.flex__box__input {
  width: 15%;
  display: flex;
  flex-direction: column;
  margin-right: 56px;
  margin-left: 150px;
}

input {
  width: 100%;
  height: 27px;
  border: 1px  #a6abab solid;
  border-radius: 5px;
  margin: 5px 0;
}
.input {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 1.2em;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 999em;
  font-weight: 700;
  color: #fcfcfc;
  background-color: #795548;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle:hover {
  width: 120px;
  height: 120px;
  font-size: 120%;
  filter: brightness(1.7);
}

.normal
{
  color: rgb(97, 201, 97);
}

.low {
  color: rgb(204, 204, 10);
}

.high{
  color: red;
}